@import "../../assets/style/typography";

:host {
  margin: 16px 0;
  padding-left: 18px;
  height: 38px;
  display: flex;
  background-color: $tertiary-color;
  align-items: center;
}

.channel-label {
  @include t4;
  margin-right: 24px;
}

.channel-number-container {
  display: flex;
  flex: 1;
  max-width: 1280px;

  mat-checkbox {
    @include t4;
    display: flex;
    flex: 1;
    align-items: center;
    max-width: 1280px;
    background-color: $tertiary-color;
    cursor: pointer;
    &.mat-checkbox-checked {
      background-color: $primary-color;
    }

    &:first-child {
      margin-left: 0;
    }

    /deep/ {
      label {
        display: flex;
        justify-content: center;
        flex: 1;
        padding-left: 0;
      }

      .mat-checkbox {
        &-inner-container {
          display: none;
        }
      }
    }
  }
}
