@import "../../assets/style/palette";
@import "../../assets/style/typography";

:host {
  grid-area: dashboard;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 400px 400px;
    grid-template-areas: "overview mimic"
    "spectrum trend";
    grid-gap: 24px 24px;
    > div {
      background: linear-gradient(118deg, #313b54, $tertiary-color);
  }
}

.unit-overview {
  grid-area: overview;
  padding: 16px;

}

mimic {
  grid-area: mimic;
}

.spectrum {
  grid-area: spectrum;
  padding: 16px;
}

trend {
  grid-area: trend;
}
