@import '../node_modules/@angular/material/theming';
@import "assets/style/palette";
@import "assets/style/typography";
@import "assets/style/material";
@import "assets/style/material-components";

html,
body {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  background-color: $secondary-color;
  @include t5;
}

.content {
  height: 100%;
  width: 100%;
}

.main-container {
  //display: flex;
  //flex-direction: column;
  //justify-content: center;
  width: 100%;
  //flex: 1;
  margin-top: 16px;

}

.chart-header {
  @include t2;
  text-transform: uppercase;
}

.chart-container {
  margin: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(118deg, #313b54, $tertiary-color);
  height: 100%;

}

::ng-deep svg {
  width: 100%;
  height: 100%;
}

.grid {
  .tick line {
    fill: none;
  }
}

.axis {
  path {
    stroke: $white-color;
  }
  text {
    fill: $white-color;
  }
  .tick line {
    stroke: none;
  }
  .tick text {
    fill: $white-color;
  }
}

.fft {
  fill: $primary-color;
}

.max {
  fill: $primary-color;
  opacity: 0.25;
  stroke: $primary-color;
  stroke-width: 2;
}